body {
	margin-bottom: 145px;
	background: url("../img/content.png");
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

#groupitem {
	padding: 1em 1em;
}

#pword {
	margin-bottom: 10px;
}

.jumbotron {
	margin-bottom: 15px;
}

#sitename {
	margin-right: 15px;
}

#submenu {
	list-style: none;
}

#submenu li > a {
	text-decoration: none;
}

#submenu li > a:hover {
	text-decoration: underline;
}

.cur_p {
	cursor: pointer;
}

#p-foot {
	height: 40px;
}

#about-header:hover {
	text-decoration: none;
}

.about-desc {
	text-indent: 20px;
}

.close-mark {
	cursor: pointer;
	font-weight: bold;
}

#search-title {
	margin-top: 25px; 
}

.pad-group {
	padding: 1em 1em;
}

#fix-top {
	margin-top: 20px;
}

.foot-bg {
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 98%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(98%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 98%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#text-white {
	color: #fff;
}

#feedbackbutt {
	margin-top: 15px;
}

.container2 {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.container2{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto}

.container2:before,
.container2:after{
	display:table;content:" "
}
.container2:after{clear:both}
.container2:before,.container2:after{
	display:table;content:" "
}
.container2:after{clear:both}

#pagelist1 {
  margin-top: 10px;
}

#statis {
  height: 70px;
}

#panel1 {
  height: 110px;
  margin-bottom: 0;
}

#panel2 {
  height: 103px;
  margin-bottom: 0;
}

#panel3 {
  height: 135px;
  margin-bottom: 0;
}

#panel4 {
  height: 110px;
  margin-bottom: 0;
}
#statis2 {
  height: 95px;
}

#statis3 {
  height: 63px;
}

#tablewell {
  margin-bottom: 10px;
}

.pagelist {
  margin-top: 30px;
}

#alertinfo {
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#alertsuccess {
  text-align: center;
}

#alertdanger1 {
  padding: 0.5em 0.5em;
  margin-bottom: 0;
}

#alertdanger2 {
  padding: 0.7em 0.5em;
  margin-bottom: 0;
}

#alertmessage1 {
	padding-top: 10px;
}

#infosearch {
	margin: 0;
}