body {
	margin-bottom: 80px;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

#groupitem {
	padding: 1em 1em;
}

#pword {
	margin-bottom: 10px;
}

#myCarousel {
	margin-bottom: 12px;
}

.jumbotron {
	margin-bottom: 15px;
}

#sitename {
	margin-right: 15px;
}

#searchbar {
	margin-bottom: 30px;
}

#submenu {
	list-style: none;
}
